//= include/header.html
<!--some html-->
<!--Main Pages-->
<section>
    <div id="main-pages">
        <aside>
            <div id="serch">
                <div class="head-search">Search an item</div>
                <div class="search-list">
                    <form action="">
                    <select name="name-product" id="">
                        <option value="Apple">Apple</option>
                        <option value="HP">HP</option>
                        <option value="Acer">Acer</option>
                        <option value="Lenovo">Lenovo</option>
                    </select>
                    <select name="service-product" id="">
                        <option value="PC">PC</option>
                        <option value="Server">Server</option>
                        <option value="Monitors">Monitors</option>
                        <option value="Software">Software</option>
                    </select>
                    <div class="descript-and-button">
                        <span>Search any product in our database.</span>
                        <button>Search</button>
                    </div>
                    </form>
                </div>
            </div>
            <div id="product">
                <ul id="hardware">
                    <div class="head-product hardware">Hardware products</div>
                    <li><a href="#">Beamers</a></li>
                    <li><a href="#">Computer casing</a></li>
                    <li><a href="#">DVD / BluRay</a></li>
                    <li><a href="#">Graphic cards</a></li>
                    <li><a href="#">Memory</a></li>
                    <li><a href="#">Data / Hard Disc Drives</a></li>
                    <li><a href="#">Motherboards</a></li>
                    <li><a href="#">Processors</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Cooling</a></li>
                </ul>
                <ul id="software">
                    <div class="head-product software">Software products</div>
                    <li><a href="#">Beamers</a></li>
                    <li><a href="#">Computer casing</a></li>
                    <li><a href="#">DVD / BluRay</a></li>
                    <li><a href="#">Graphic cards</a></li>
                    <li><a href="#">Memory</a></li>
                    <li><a href="#">Data / Hard Disc Drives</a></li>
                    <li><a href="#">Motherboards</a></li>
                    <li><a href="#">Processors</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Cooling</a></li>
                </ul>
                <ul id="entertainment">
                    <div class="head-product entertainment">Entertainment</div>
                    <li><a href="#">Beamers</a></li>
                    <li><a href="#">Computer casing</a></li>
                    <li><a href="#">DVD / BluRay</a></li>
                    <li><a href="#">Graphic cards</a></li>
                    <li><a href="#">Memory</a></li>
                    <li><a href="#">Data / Hard Disc Drives</a></li>
                    <li><a href="#">Motherboards</a></li>
                    <li><a href="#">Processors</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Cooling</a></li>
                </ul>
                <ul id="pc">
                    <div class="head-product pc">PC/Notebook</div>
                    <li><a href="#">Beamers</a></li>
                    <li><a href="#">Computer casing</a></li>
                    <li><a href="#">DVD / BluRay</a></li>
                    <li><a href="#">Graphic cards</a></li>
                    <li><a href="#">Memory</a></li>
                    <li><a href="#">Data / Hard Disc Drives</a></li>
                    <li><a href="#">Motherboards</a></li>
                    <li><a href="#">Processors</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Cooling</a></li>
                </ul>
                <ul id="server">
                    <div class="head-product server">Server/Networking</div>
                    <li><a href="#">Beamers</a></li>
                    <li><a href="#">Computer casing</a></li>
                    <li><a href="#">DVD / BluRay</a></li>
                    <li><a href="#">Graphic cards</a></li>
                    <li><a href="#">Memory</a></li>
                    <li><a href="#">Data / Hard Disc Drives</a></li>
                    <li><a href="#">Motherboards</a></li>
                    <li><a href="#">Processors</a></li>
                    <li><a href="#">Monitors</a></li>
                    <li><a href="#">Cooling</a></li>
                </ul>
            </div>
        </aside>
    <div id="main-contant">
        <div id="slider">
           <ul id="my-slider">
               <li class="slide-1">
                    <span>ASUS G51J GAMING LAPTOP</span>
                    <p class="descript-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui libero, ornare et fermentum a, congue eu
                    <br>nibh. Suspendisse commodo enim vel mi scelerisque viverra. Vestibulum a lectus a eros varius congue pulvinar
                    <br>id lacus. Duis rutrum justo sed massa varius tincidunt.</p>
                    <div class="icon-end-descript-slider">
                        <img src="img/icon-slider.png" alt="icon-slider">
                        <div class="price-and-add">
                            <img src="img/price.png" alt="price">
                            <div class="descript-and-add">
                                <p>Comes with free sleeve and
                                <br>Logitech Wireless Mouse!</p>
                                <div class="link-add">
                                    <a href="#" class="view-product">View product</a>
                                    <a href="#" class="to-basket">Add to basket</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </li>
               <li class="slide-1">
                    <span>ASUS G51J GAMING LAPTOP</span>
                    <p class="descript-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui libero, ornare et fermentum a, congue eu
                    <br>nibh. Suspendisse commodo enim vel mi scelerisque viverra. Vestibulum a lectus a eros varius congue pulvinar
                    <br>id lacus. Duis rutrum justo sed massa varius tincidunt.</p>
                    <div class="icon-end-descript-slider">
                        <img src="img/icon-slider-2.png" alt="icon-slider">
                        <div class="price-and-add">
                            <img src="img/price.png" alt="price">
                            <div class="descript-and-add">
                                <p>Comes with free sleeve and
                                <br>Logitech Wireless Mouse!</p>
                                <div class="link-add">
                                    <a href="#" class="view-product">View product</a>
                                    <a href="#" class="to-basket">Add to basket</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </li>
               <li class="slide-1">
                    <span>ASUS G51J GAMING LAPTOP</span>
                    <p class="descript-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui libero, ornare et fermentum a, congue eu
                    <br>nibh. Suspendisse commodo enim vel mi scelerisque viverra. Vestibulum a lectus a eros varius congue pulvinar
                    <br>id lacus. Duis rutrum justo sed massa varius tincidunt.</p>
                    <div class="icon-end-descript-slider">
                        <img src="img/icon-slider-3.png" alt="icon-slider">
                        <div class="price-and-add">
                            <img src="img/price.png" alt="price">
                            <div class="descript-and-add">
                                <p>Comes with free sleeve and
                                <br>Logitech Wireless Mouse!</p>
                                <div class="link-add">
                                    <a href="#" class="view-product">View product</a>
                                    <a href="#" class="to-basket">Add to basket</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </li>
           </ul>
        </div>
        <div id="cards-shop">
            <div class="cards">
                <div class="name">Apple iPod Nano</div>
                <img src="img/cards.png" alt="icon">
                <div class="descript-cards">
                    <div class="name-count">
                        <span class="name-2">Apple iPod Nano 8GB</span>
                        <span class="count">€ 159,-</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>Nulla dignissim vehicula ante a elementum.</p>
                    <div class="link-add">
                        <a href="#" class="view-product">View product</a>
                        <a href="#" class="to-basket">Add to basket</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="name">Apple iPod Nano</div>
                <img src="img/cards.png" alt="icon">
                <div class="descript-cards">
                    <div class="name-count">
                        <span class="name-2">Apple iPod Nano 8GB</span>
                        <span class="count">€ 159,-</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>Nulla dignissim vehicula ante a elementum.</p>
                    <div class="link-add">
                        <a href="#" class="view-product">View product</a>
                        <a href="#" class="to-basket">Add to basket</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="name">Apple iPod Nano</div>
                <img src="img/cards.png" alt="icon">
                <div class="descript-cards">
                    <div class="name-count">
                        <span class="name-2">Apple iPod Nano 8GB</span>
                        <span class="count">€ 159,-</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>Nulla dignissim vehicula ante a elementum.</p>
                    <div class="link-add">
                        <a href="#" class="view-product">View product</a>
                        <a href="#" class="to-basket">Add to basket</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="name">Apple iPod Nano</div>
                <img src="img/cards.png" alt="icon">
                <div class="descript-cards">
                    <div class="name-count">
                        <span class="name-2">Apple iPod Nano 8GB</span>
                        <span class="count">€ 159,-</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>Nulla dignissim vehicula ante a elementum.</p>
                    <div class="link-add">
                        <a href="#" class="view-product">View product</a>
                        <a href="#" class="to-basket">Add to basket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
//= include/footer.html