//= include/header.html
<!--some html-->
<!--Main Pages-->
<section>
    <div id="main-pages">
        <aside>
            <div id="serch">
                <div class="head-search">Search an item</div>
                <div class="search-list">
                    <form action="">
                    <select name="name-product" id="">
                        <option value="Apple">Apple</option>
                        <option value="HP">HP</option>
                        <option value="Acer">Acer</option>
                        <option value="Lenovo">Lenovo</option>
                    </select>
                    <select name="service-product" id="">
                        <option value="PC">PC</option>
                        <option value="Server">Server</option>
                        <option value="Monitors">Monitors</option>
                        <option value="Software">Software</option>
                    </select>
                    <div class="descript-and-button">
                        <span>Search any product in our database.</span>
                        <button>Search</button>
                    </div>
                    </form>
                </div>
            </div>
            <div id="product">
                <ul id="hardware">
                    <div class="head-product hardware">Hardware products</div>
                    <li><a href="">Beamers</a></li>
                    <li><a href="">Computer casing</a></li>
                    <li><a href="">DVD / BluRay</a></li>
                    <li><a href="">Graphic cards</a></li>
                    <li><a href="">Memory</a></li>
                    <li><a href="">Data / Hard Disc Drives</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Processors</a></li>
                    <li><a href="">Monitors</a></li>
                    <li><a href="">Cooling</a></li>
                </ul>
                <ul id="software">
                    <div class="head-product software">Software products</div>
                    <li><a href="">Beamers</a></li>
                    <li><a href="">Computer casing</a></li>
                    <li><a href="">DVD / BluRay</a></li>
                    <li><a href="">Graphic cards</a></li>
                    <li><a href="">Memory</a></li>
                    <li><a href="">Data / Hard Disc Drives</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Processors</a></li>
                    <li><a href="">Monitors</a></li>
                    <li><a href="">Cooling</a></li>
                </ul>
                <ul id="entertainment">
                    <div class="head-product entertainment">Entertainment</div>
                    <li><a href="">Beamers</a></li>
                    <li><a href="">Computer casing</a></li>
                    <li><a href="">DVD / BluRay</a></li>
                    <li><a href="">Graphic cards</a></li>
                    <li><a href="">Memory</a></li>
                    <li><a href="">Data / Hard Disc Drives</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Processors</a></li>
                    <li><a href="">Monitors</a></li>
                    <li><a href="">Cooling</a></li>
                </ul>
                <ul id="pc">
                    <div class="head-product pc">PC/Notebook</div>
                    <li><a href="">Beamers</a></li>
                    <li><a href="">Computer casing</a></li>
                    <li><a href="">DVD / BluRay</a></li>
                    <li><a href="">Graphic cards</a></li>
                    <li><a href="">Memory</a></li>
                    <li><a href="">Data / Hard Disc Drives</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Processors</a></li>
                    <li><a href="">Monitors</a></li>
                    <li><a href="">Cooling</a></li>
                </ul>
                <ul id="server">
                    <div class="head-product server">Server/Networking</div>
                    <li><a href="">Beamers</a></li>
                    <li><a href="">Computer casing</a></li>
                    <li><a href="">DVD / BluRay</a></li>
                    <li><a href="">Graphic cards</a></li>
                    <li><a href="">Memory</a></li>
                    <li><a href="">Data / Hard Disc Drives</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Processors</a></li>
                    <li><a href="">Monitors</a></li>
                    <li><a href="">Cooling</a></li>
                </ul>
            </div>
        </aside>
    </div>
</section>
//= include/footer.html