<footer>
   <div class="all-links">
       <div class="links">
           <h3>Quicklinks</h3>
            <ul>
                <li><a href="">Hardware products</a></li>
                <li><a href="">Hardware products</a></li>
                <li><a href="">Hardware products</a></li>
                <li><a href="">PC/Notebooks</a></li>
                <li><a href="">Server/Networking</a></li>
            </ul>
        </div>
        <div class="hot">
           <h3>Hot products</h3>
            <ul>
                <li><a href="">Asus Nvidia GTX 456</a></li>
                <li><a href="">Asus P6T SE MB</a></li>
                <li><a href="">Corsair 6GB Ram Module</a></li>
                <li><a href="">Coolermaster ZX1000</a></li>
                <li><a href="">ATI HD 5970</a></li>
                <li><a href="">Coolermaster Sileo 500</a></li>
                <li><a href="">Logitech Z2300</a></li>
            </ul>
        </div>
    <div class="latest"></div>
   </div>
</footer>