<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
    <title>GigaSpace</title>
</head>
<body>
    <headder>
        <div class="logo">
            <img src="img/logo.png" alt="logo">
            <div class="text-logo">
                <span class="name">Giga<span class="name-yellow">Space</span></span>
                <span class="descript-name">We provide the power for your computer system</span>
            </div>
        </div>
        <div class="number-head">Customer service: 555 865 1247 6</div>
    </headder>
    <section class="menu-top">
        <div class="content">
            <nav id="top-menu">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">hardware</a></li>
                    <li><a href="#">software</a></li>
                    <li><a href="#">entertainment</a></li>
                    <li><a href="#">pc/notebooks</a></li>
                    <li><a href="#">server/network</a></li>
                    <li><a href="#">contacts</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section>
        <div id="login-basket">
            <div class="login-form">
              <span class="descript-login">If you wish to save your shopping card, you will need to log in:</span>
              <div class="icon-and-form">
                  <img src="img/smile.png" alt="smile">
                <form action="" id="login">
                    <input type="text" placeholder="Username">
                    <input type="text" placeholder="Password">
                    <button>Log in</button>
                </form>
              </div>
            </div>
            <div class="basket">
                <img src="img/basket.png" alt="basket">
                <div class="descript-basket">
                    <span class="head-basket">There are currently 0 items in your basket!</span>
                    <span class="link-basket">
                        <a href="#">View basket</a>
                        <a href="#">Save Basket</a>
                        <a href="#" class="lastItem">Last item added:</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>